body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  background-image: url('https://cdn.discordapp.com/attachments/1077217567556509719/1087094401102262373/atakee_a_background_image_for_a_payment__invoice_interface_web__4b7fa4d4-8995-407b-bc8e-86ea40997c56.png');
			background-repeat: no-repeat;
			background-size: cover;
}
h1 {
  margin: 40px auto;
  color: #0abaff;
  text-align: center;
}
ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-items: start;

}
.main_titel {
  background-color: #e8baba;
  margin: 5% 30%
}
li {
  padding: 6px 10px;
  /* border: 2px solid #0abaff; */
  margin: 10px auto;
  background-color: #e8baba;
  min-width: 80%;
  max-width: 100%;
  min-height: 10%;
  max-height: 15%;
}
li h4 {
  color: #0abaff;
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}
footer {
  background: #e8baba;
  padding: 60px;  
}
form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.wrapper {

  display: flex;
  align-items: evenly;
  gap: 10%;
  margin: 10%;
  
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
  margin: 16px 0 6px;
  text-align: left;
}
input,
select {
  padding: 10px;
  border: 1px solid #0abaff;
  border-radius: 4px;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: #0abaff;
  padding: 10px;
  min-width: 80px;
  border-radius: 4px;
  margin-top: 10px;
}
footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
}
